# Environment (dev / prod)
ENVIRONMENT=dev

# PostgreSQL
POSTGRES_USER=fantasy_user
POSTGRES_PASSWORD=fantasy_pass
POSTGRES_DB=fantasy_db
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Redis
REDIS_URL=redis://redis:6379/0

# Secret key for sessions/JWT
SECRET_KEY=change_this_in_production_please

# Celery
BROKER_CONNECTION_RETRY_ON_STARTUP=True

# Sentry
SENTRY_DSN=

# Admin Defaults
DEFAULT_ADMIN_EMAIL=admin@fantasysv.com
DEFAULT_ADMIN_PASSWORD=admin
